
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block header %}
    {% include 'inc/header.html.twig' %}
{% endblock %}


{% block body %}


    <div class="col-9 col-lg-4 mx-auto mt-5">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<h3>Register</h3>




{% block content %}


    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn col-12">Register</button>
    {{ form_end(registrationForm) }}


    {# burası kayıt sayfası için #}

{% endblock %}
    {% endblock %}