{#
{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/website-skeleton/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/website-skeleton/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>


    user olan mahmut
</div>
{% endblock %}
#}


{% extends 'form/baseSignUp.html.twig' %}

{% block header %}
    {% include 'form/headerSignUp.html.twig' %}

{% endblock %}

{% block navbar %}
    {% include 'inc/navbar.html.twig' %}

{% endblock %}


{% block body %}


    {% block content %}

        {# <div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" >
			  <fieldset>
			    <div id="legend">
			      <legend class="">Login</legend>
			    </div>
                  {{ form_start(registrationForm ) }}
			    <div class="control-group">
			      <!-- Username -->
                    {{ form_row(registrationForm.email, {label: 'Email' , 'attr':{'class':'form-control controls input-xlarge'}} ) }}
			    </div>
			    <div class="control-group">
			      <!-- Password-->
					{{ form_label(registrationForm.plainPassword, 'Password') }}
                                {{ form_widget(registrationForm.plainPassword, {'attr':{'class':'form-horizontal controls input-xlarge'}}) }}
                                <small>{{ form_help(registrationForm.plainPassword) }}</small>
			    </div>
			    <div class="control-group">
			      <!-- Button -->
                    {{ form_end(registrationForm) }}
			      <div class="controls">
			        <button class="btn btn-success btn-fill btn-primary">Save</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div> #}


        <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                    <h5 class="title">Edit Profile</h5>
                </div>
                {{ form_start(registrationForm ) }}
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3 px-1">
                            {{ form_row(registrationForm.email) }}
                        </div>
                        <div class="col-md-5 pl-1">
                            <div class="form-group">
                                {{ form_label(registrationForm.plainPassword, 'Password') }}
                                {{ form_widget(registrationForm.plainPassword) }}
                                <small>{{ form_help(registrationForm.plainPassword) }}</small>
                            </div>
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary">Save</button>
                        //buna basınca home sayfasına yönlendirmeyi dene!!!
                    </div>

                </div>
            </div>
        </div>






    {% endblock %}


{% endblock %}